.jumbotron {
    border-radius: 10px;
}

.row { 
    margin-right: auto; 
    margin-left: auto; 
    width: 1200px; 
}

input, input:focus, textarea, textarea:focus {
    border-radius: 10px;
    outline: none;
}

h2 {
    text-align: left;
    color: black;
}

hr {
    border: 5px solid green;
    border-radius: 5px;
}

.margin-top-20 {
    margin-top:20px
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table {
    text-align: left;
}

.error {
    color: red
}